body {
    margin: 60px auto;
    width: 90%;
    text-align: center;
    background-color: #c8f0f4;
    font-family:'Times New Roman', 'Times', 'Serif';
}
nav ul, footer ul {
    font-family:'Times New Roman', 'Times', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.3em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Times New Roman', 'Times', 'Serif';
    text-align: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-align: center;
    font-family:'Times New Roman', 'Times', 'Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
    font-family:'Times New Roman', 'Times', 'Serif';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family:'Times New Roman', 'Times', 'Serif';
}

ul.posts li {
    list-style: none;
}
